
body {
  line-height: 0px;
  background-color: rgb(55, 48, 48);
}

h1 {
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;

}

.color {
  display: inline-block;
  width: 5ex;
  height: 5ex;
  border: solid black 1px;
  margin: 5px;
  text-align: center;

}


#pixel-board {
  border: solid white 1px;
  height: 528px;
  display: inline-block;
  width: 1100px;
  margin-top: 10px;
}

.pixel {
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-block;
  border: solid black 1px;
}

#clear-board {
  background-color: black;
  color: white;
  border-radius: 15%;
  border: solid 2px greenyellow;
  width: 70px;
  display: block;
  margin-bottom: 10px;
}
