
body {
  line-height: 0px;
}

#title {
  
}

#color-palette {
  width: 250px;
  
}

.color {
  display: inline-block;
  width: 5ex;
  height: 5ex;
  border: solid black 1px;
  margin: 5px;
  text-align: center;
  
}


#pixel-board {
  border: solid white 1px;
  height: 210px;
  display: inline-block;
  width: 210px;
  margin-top: 10px;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border: solid black 1px;
}

#clear-board {
  background-color: black;
  color: white;
  border-radius: 15%;
  border: solid 2px greenyellow;
  width: 70px;
  display: block;

}
